:root{
    --background-image: nada
}
.navigation-primary{
    background-color: #342923;
    width: 90px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 79;
    margin-top: 62px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;
}
/* .navigation-primary .img-brand{
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
} */
.navigation-primary .divider{
    width: 80%;
    margin-left: 10%;
    height: 1px;
    background-color: #ffffff20;
}
.navigation-primary .navigation-primary-nav #scroll-up{
    width: 100%;
    border: 0;
    display: block;
    background-color: transparent;
    color: rgba(256,256,256,0.8);
    display: none;
}
.navigation-primary .navigation-primary-nav #scroll-down{
    width: 100%;
    border: 0;
    display: block;
    background-color: transparent;
    color: rgba(256,256,256,0.8);
    display: none;
}
.navigation-primary .navigation-primary-nav .menu{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.navigation-primary .navigation-primary-nav .menu-li{
    list-style: none;
    display: block;
    cursor: pointer;
}
.navigation-primary .navigation-primary-nav .menu-li.deshabilitado{
    list-style: none;
    display: block;
    cursor: no-drop;
}
.navigation-primary .navigation-primary-nav .menu-li:hover > .menu-li-a{
    background-color: #EBE7E4;
    color: #342923;
}
.navigation-primary .navigation-primary-nav .menu-li:hover > .menu-li-a .icon-counter-container .counter{
    background-color: #FF7F32;
    color: #fff;
}

.navigation-primary .navigation-primary-nav .menu-li > .menu-li-a{
    display: block;
    color: rgba(256,256,256,0.8);
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;
}
.navigation-primary .navigation-primary-nav .menu-li > .menu-li-a:hover{
    text-decoration: none;
}
.navigation-primary .navigation-primary-nav .menu-li > .menu-li-a i{
    display: block;
    font-size: 22px;
}
.icon-counter-container{
    position: relative;
}
.icon-counter-container{
    position: relative;
    width: 100%;
    display: block;
}
.icon-counter-container .icon{
    position: relative;
}
.icon-counter-container .counter{
    background-color: #FF7F32;
    position: absolute;
    top: -5px;
    right: 15px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    padding: 2px;
    font-size: 10px;
}
.img-profile-menu{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    display: block;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px rgba(256,256,256,0.8);
}
/* Dropdrown primary */
.navigation-primary .navigation-primary-nav .menu-li:hover .dropdown-primary{
    display: block!important;
    margin-top: 62px;
    max-height: calc(100% - 60px);
}
.dropdown-primary{
    display: none!important;
    position: fixed;
    width: 420px;
    height: 100%;
    background-color: #EBE7E4;
    left: 90px;
    top: 0;
    padding: 20px;
    text-align: left;
    overflow-x: auto;
    z-index: 9999;
}
.dropdown-primary .header h4{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
.dropdown-primary h3{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
.dropdown-primary .close{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
.dropdown-primary .divider{
    height: 1px;
    width: 100%;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.dropdown-primary .primary-menu{
    margin: 0;
    padding: 0;
    text-align: left;
}
.dropdown-primary .primary-menu .primary-menu-li{
    list-style: none;
    display: block;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;
    padding: 5px 20px;
}
.dropdown-primary-li span i{
    margin-right: 10px;
}
.dropdown-primary .primary-menu .primary-menu-li > a{
    color: rgba(0,0,0,0.6);
}
.dropdown-primary .primary-menu .primary-menu-li.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.dropdown-primary .primary-menu .primary-menu-li:hover{
    background-color: rgba(0,0,0,0.05);
}
.dropdown-primary .primary-menu .primary-menu-li:hover > a{
    text-decoration: none;
}

.dropdown-primary .primary-menu .primary-menu-li .icons{
    font-size: 15px;
    display: none;
    position: absolute;
    right: 0;
}
.dropdown-primary .primary-menu .primary-menu-li .icons i{
    color: #666;
}
.dropdown-primary .primary-menu .primary-menu-li:hover .icons{
    display: inline;
}
.dropdown-primary .primary-menu .primary-menu-li:hover i{
    display: inline;
}
.dropdown-primary .primary-menu .primary-menu-li:hover i.fi-rs-star:hover{
    color: #f4a002;
}
.dropdown-primary .primary-menu .primary-menu-li:hover i.fi-rs-interrogation:hover{
    color: #666;
}
.dropdown-primary .primary-menu .primary-menu-li.favorite i{
    font-size: 15px;
    display: inline;
    color: #666;
}
.dropdown-primary .primary-menu .primary-menu-li .premium{
    font-size: 13px;
    padding: 0px 8px;
    background-color: #f4a002;
    color: #fff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    height: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-primary .primary-menu .primary-menu-li .premium i{
    display: inline-block;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.dropdown-primary .primary-menu .primary-menu-li .new{
    font-size: 13px;
    padding: 0px 8px;
    background-color: #1ABD5B;
    color: #fff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    height: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-primary .primary-menu .primary-menu-li:hover .new{
    display: none;
}
.products-menu{
    margin: 0;
    padding: 0;
}
.products-menu .products-menu-li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.products-menu .products-menu-li > a{
    color: rgba(0,0,0,0.6);
    padding: 5px 20px;
    display: block;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.products-menu .products-menu-li:hover > a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}
.products-menu .products-menu-li > a .icon{
    background-color: #342923;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;

    margin-right: 10px;
}
.products-menu .products-menu-li > a .icon img{
    max-width: 35px;
    display: block;
    margin: 0 auto;
}
.products-menu .products-menu-li:hover > a .icon{
    background-color: #FF7F32;
}
.products-menu .products-menu-li .new{
    font-size: 13px;
    line-height: 14px;
    padding: 4px 8px;
    background-color: #1ABD5B;
    color: #fff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.products-menu .products-menu-li .new p{
    margin: 0;
}

/* Notificaciones menu */
.notificaciones-menu{
    margin: 0;
    padding: 0;
}
.notificaciones-menu .notificaciones-menu-li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.notificaciones-menu .notificaciones-menu-li > a{
    color: rgba(0,0,0,0.5);
    padding: 5px 20px;
    display: block;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;

    transition: all 280ms;
    -o-transition: all 280ms;
    -moz-transition: all 280ms;
    -webkit-transition: all 280ms;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notificaciones-menu .notificaciones-menu-li:hover > a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}
.notificaciones-menu .notificaciones-menu-li > a .contenido .titulo{
    display: block;
    font-weight: bold;
}
.notificaciones-menu .notificaciones-menu-li > a .close i{
    font-size: 15px;
}
/* Box profile */
.box-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box-profile h3{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.5);
}
.box-profile h4{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.5);
}
.box-profile .img-profile-big{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
    border: solid 2px rgba(0,0,0,0.2);
}
.navigation-primary.menu-close{
    left: -90px;
}
.btn-menu{
    background-color: #FF7F32;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    color: #fff;
    margin-right: 15px;
    outline: none;
    display: none;
}
.btn-menu:hover, .btn-menu:focus{
    outline: none;
}

.filter-header{
    width: 80%;
    min-width: 220px;
}

@media screen and (max-width: 992px){
    .btn-menu{
        display: block;
    }
    /* .btn-menu.active{
        margin-left: 90px!important;
    } */
    .navigation-primary.menu-open{
        left: -90px;
    }
    .navigation-primary.menu-close{
        left: 0px;
    }
}
@media screen and (max-width: 800px){
    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        background-color: rgba(0,0,0,0.2);
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        margin-top: 15px;
    }
    .container-filter-search{
        width: 100%;
    }
    .filter-header{
        width: 80%;
    }
    .search-group-300 {
        min-width: 300px;
        width: 100%;
        margin-right: 0!important;
    }
    .sticky-top {
        position: static;
    }
    .btn-primary {
        min-width: auto;
    }
    .dropdown-primary {
        display: none;
        position: fixed;
        width: 85%;
        height: 100%;
        left: 0px;
    }
    .navigation-primary{
        margin-top: 120px;
    }
}

@media screen and (max-width: 450px){
    .navigation-primary{
        margin-top: 168px;
    }
}
@media screen and (max-width: 350px){
    .navigation-primary{
        margin-top: 210px;
    }
}

.application-info{
    color: #fff;
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.application-info p{
    font-size: .8rem;
    margin-bottom: -3px;
}

.imagenDeFondo{
    background-image: var(--background-image);
}