.content-container {
  /* padding-left: 90px; */
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  transition: all 280ms;
  -o-transition: all 280ms;
  -moz-transition: all 280ms;
  -webkit-transition: all 280ms;
}

.content-paneles {
  width: 100%;
  height: 100%;
  left: 90px;
  top: 60px;
  right: 0;
  bottom: 0;
  position: relative;
  border: 1px solid gray;
  

}


.content-container h1 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

.dropdown-block-content {
  width: 100%;
  padding: 40px;
}

#dropdownColumnasContent {
  display: none;
}

#dropdownColumnasContent.active {
  display: block;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.dashboard-box {
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 60px;
  background-repeat: no-repeat;
  background-position: 110% 105%;
  background-size: 400px;
}

.dashboard-box .box-interna {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-box .box-interna .icon {
  background-color: #342923;
  padding: 15px;
  text-align: center;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 280ms;
  -o-transition: all 280ms;
  -moz-transition: all 280ms;
  -webkit-transition: all 280ms;
  margin-right: 30px;
}

.dashboard-box .box-interna .icon img {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.dashboard-fav {
  list-style: none;
}

.dashboard-fav a {
  color: #666;
}

.dashboard-fav a i {
  color: #f4a002;
}

.top-nav {
  z-index: 98;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  background-color: #342923;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  gap: 15px;
}

.top-nav .navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.top-nav .navbar-light .navbar-nav .nav-link p{
  font-size: 16px;
  margin-bottom: 0;
}

.main {
  margin-left: 90px;
  margin-top: 62px;
}

@media screen and (min-width: 575px) and (max-width: 800px) {
  .main{
    margin-top: 120px;
    margin-left: 0;
  }
}
@media screen and  (min-width: 375px) and (max-width: 575px) {
  .main{
    margin-top: 145px;
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .main{
    margin-top: 210px;
    margin-left: 0;
  }
}

.filtros {
  width: 100%;
  box-sizing: border-box;
  height: auto;

  padding: 15px;
  height: auto;
}

.buttons-filtros{
  display: flex;
  gap: 5px;
  padding: 10px 0;
}

.buttons-filtros .nav{
  display: flex;
  gap: 20px;
}

.buttons-filtros .btn-primary{
  padding: 5px 20px;
}

.buttons-filtros .nav-link{
  border-bottom: 3px solid transparent;
  padding: 0;
}
.buttons-filtros .nav-link:hover{
  border-bottom: 3px solid #ff7f32;
}

/* TABLE HEADER */

.header-class {
  background-color: #342923;
  color: #fff;
  font-size: 13px;
}

.rowStyle {
  font-size: 12px;
}

.pagination {
  justify-content: flex-end;
}

.page-item.active .page-link {
  z-index: 1;
  color: #342923;
  background-color: #FF7F32;
  border-color: #FF7F32;
}

.page-link {
  position: relative;
  display: block;
  padding: 10px 16px;
  margin-left: -1px;
  line-height: 1.25;
  color: #342923;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #342923;
}

@media screen and (max-width: 500px) {
  #sectores.registraciones .react-bootstrap-table {
    min-width: auto !important;
  }
}

@media screen and (max-width: 992px) {
  #referencia-calendario {
    margin-top: 1.5rem;
  }
}

.react-bootstrap-table {
  overflow: auto;
}

.react-bootstrap-table thead th {
  position: sticky;
  top: 0;
  z-index: 60;
  background-color: #342923;
}
@media (max-width: 1160px) {
  .container {
    max-width: 100%;
  }
  .content-container {
    padding-left: 0px;
  }
}
.content-container.menu-open {
  padding-left: 0px;
}
@media screen and (max-width: 992px) {
  .content-container.menu-open {
    padding-left: 90px;
  }
  .buttons-filtros {
    width: 100%;
  }
  .button-header{
    width: auto;
  }
}

@media screen and (max-width: 1160px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .row > div{
    width: 100% !important; 
    max-width: 100% !important; 
  }
  .main{
    margin-left: 70px;
  }
}

.dropdown-menu {
  min-width: 22rem !important;
}

.sticky-topNuevo {
  position: sticky;
  top: 62px;
  z-index: 78;
}
.wj-flexchart {
  border: none !important;
}

.is-invalid {
  color: red !important;
}

.wj-labeled-input label {
  top: -1px !important;
}
.css-17oi9u9-Bubble {
  padding: 5px 10px !important;
}

.slider{
  display: flex;
  position:absolute;
  flex-direction: row;
  width: 100%;
  top: 0px;
  z-index: 1;
  left: 20px;
}


.slider-container{
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 80px;
  bottom: 40px;
  left: 250px;
}


.parrafo{
  z-index: 1;
  top:20px;
  left: 20px;
  position: relative;
}

.slider::after{
  content: '100';
  color: black;
  font-size: 1rem;
 
}

.slider::before{
  content: '0';
  color: black;
  font-size: 1rem;
  position: absolute;
  
}


.tile {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: calc(25% - 1rem);
	margin: 0.5rem;
	height: 50vh;
	max-height: calc(50% - 1rem);
	overflow: hidden;
	background: white;
	page-break-inside: avoid; /* important when printing the dashboard */
	transition: all 250ms;
	border-radius: 0.5rem;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(55, 63, 66, 0.07), 0 2px 4px rgba(55, 63, 66, 0.07), 0 4px 8px rgba(55, 63, 66, 0.07),
		0 8px 16px rgba(55, 63, 66, 0.07), 0 16px 24px rgba(55, 63, 66, 0.07), 0 24px 32px rgba(55, 63, 66, 0.07);
}
@media only screen and (max-width: 1599px) {
	.tile {
		width: calc(33.33% - 1rem);
	}
}
@media only screen and (max-width: 1079px) {
	.tile {
		width: calc(50% - 1rem);
	}
}
@media only screen and (max-width: 1023px) {
	.tile {
		width: calc(100% - 1rem);
	}
}
@media only screen and (max-height: 800px) {
	.tile {
		max-height: 400px;
	}
}
.tile:last-child {
	flex: 1 1 auto;
}
.tile:hover {
	border-color: #adb7bd;
}
.tile.drag-over {
	border: 2px dashed #000;
}

.tile .buttons {
	transition: all 250ms;
	opacity: 0;
}
@media (hover: none) and (pointer: coarse) {
	.tile .buttons {
		opacity: 1;
	}
}
.tile:hover .buttons {
	opacity: 1;
}
.tile .buttons > span {
	padding: 0 0.5rem;
	cursor: pointer;
}
.tile.drag-over {
	border: 2px dashed #000;
	background-color: rgba(0, 0, 0, 0.1);
	transition: all 250ms;
}
.tile.drag-source {
	opacity: 0.4;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: rgba(145, 200, 248, 0.75);
	transform: scale(0.9);
	transition: all 250ms;
}

.tile .tile-container {
	border-bottom: 1px solid #e0e0e0;
	padding: 0.75rem 1rem;
	display: flex;
	cursor: move;
}

.tile .tile-header {
	flex-grow: 1;
	font-size: 1rem;
	font-weight: 400;
	padding: 0.125rem;
	opacity: 0.75;
}

.tile .tile-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: auto;
	height: 100%;
}

.tile .blank-tile {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button {
	cursor: pointer;
}

.cajaPortal {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 100%;
    margin: auto;
    align-items: center;
  }

.cajaIcono {
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.cajaValor {
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  align-items: center;
  font-size: 20pt;
  vertical-align: middle;
  display: table-cell;
  margin: 15px;
}

/* .misas .contenedor div:nth-child(2){
  margin-left: 15px;
} */