.user-data-hover {
    position: absolute;
    top:65px;
    right: 20px;
    background-color: rgba(0, 0, 0, .7);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.user-data-hover .mail{
    font-size: .8rem;
    /* padding-top: 2px; */
}

/* .user-data-hover p{
    margin-bottom: -5px;
} */


.dropdown-item.user-data span p.mail{
    font-size: .8rem;
    margin-bottom: 0px;
}

.contact-icon {
    position: relative;
    font-size: inherit;
}
/* 
.flogo{
    padding: 11px 30px 11px 35px;
} */


.flogo > a > img{
    height: 40px;
}

.left-navbar-header{
    display: flex;
    gap: 40px;
}