@import "../../../node_modules/react-datepicker/dist/react-datepicker.css";
@import "../../../node_modules/react-checkbox-tree/lib/react-checkbox-tree.css";
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 40px;
  overflow-x: hidden;
  background-color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BEGGIN SCROLL BAR */

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #342923;
}

/* END SCROLL BAR */

/* BEGIN FORMS */

.custom-control-input:checked ~ .custom-control-label::before {
  color: #1F1006;
  border-color: #FF7F32;
  background-color: #FF7F32;
}

::-moz-selection {
  background: #FF7F32;
  color: #1F1006;
}

::selection {
  background: #FF7F32;
  color: #1F1006;
}

/* END FORMS */

.link-primary {
  color: #FF7F32 !important;
}

.link-secondary {
  color: #666 !important;
}

.btn {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  height: 40px;
  transition: all 180ms;
  -o-transition: all 180ms;
  -webkit-transition: all 180ms;
  -moz-transition: all 180ms;
}

.btn-primary.focus,
.btn-primary:focus {
  outline: 0;
  box-shadow: 1px 2px 6px 3px #ff7f3240;
}

.btn-transparent {
  border: 0;
  background-color: transparent;
}

.btn-primary {
  color: #1f1006;
  background-color: #ff7f32;
  border-color: #ff7f32;
  min-width: 130px;
  // width: 100%;
  transition: 0.2s ease;
  font-weight: 500;
  font-size: 1.063em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #E86517;
  border-color: #E86517;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #FF7F32;
  border-color: #FF7F32;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-secondary {
  color: #1f1006;
  background-color: #EBE7E4;
  border-color: #EBE7E4;
  transition: 0.1s ease;
  min-width: 130px;
}

.box-login .btn-secondary{
  background-color: transparent;
}

.box-login .btn-secondary:hover,
.box-login .btn-secondary:focus {
  background-color: transparent;
  translate: 2px;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #A59D98;
  border-color: #A59D98;
}

.badge-primary {
  color: #fff;
  background-color: #880dff;
}

input {
  outline: 0;
}

.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Elegir";
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
}

.label-adjunto {
  font-size: 12px;
  color: #0085c7;
}

.label-adjunto-invalido {
  color: red;
}

/* .custom-file-label {
  top: 20px !important;
} */
.custom-file-label {
  top: -4px !important;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
  display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 10px 40px 10px 20px;
  height: auto;
}

/* Animations */

@keyframes slideRight {
  from {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/*
  Global Components
*/

@media (min-width: 1200px) {
  .container {
    // max-width: 98%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}

.text-success {
  color: #1ABD5B;
}

.text-danger {
  color: #CA1533;
}

.global-container {
  position: fixed;
  width: 100%;
  height: 100%;
  /* display: flex; */
  display: block;
  flex-direction: row;
  align-items: flex-start;
}

.global-title-1 {
  color: #1f1006;
  font-weight: 700;
  font-size: 1.875em;
}

.global-title-2 {
  color: #1f1006;
  font-weight: 600;
  font-size: 1.1em;
}

.global-text-1 {
  color: #1f1006;
  font-weight: 400;
  font-size: 1em;
}

.global-link-1 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1em;
  cursor: pointer;
}

.global-link-1:hover {
  color: rgba(0, 0, 0, 0.6);
}

.global-link-1.disabled {
  color: rgb(184, 184, 184) !important;
}

.form-check-label {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1em;
}

/* Tabs */

.nav-tabs .nav-link {
  border: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: solid 1px transparent;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(0, 0, 0, 0.6);
}

.nav-tabs .nav-link.active {
  border-bottom: solid 1px #FF7F32;
  color: rgba(0, 0, 0, 0.8);
}

.tab-pane {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

/* Global Forms */

.search-group {
  position: relative;
  display: flex;
  align-items: center;
}

.search-group-300 {
  min-width: 300px;
}

.search-group .input-search {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 1px 2px 6px 0px #24130833;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 6px 15px;
}

.search-group .button-search {
  position: absolute;
  right: 15px;
  background-color: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.5);
}

.checkbox label:after {
  content: "";
  display: table;
  clear: both;
}

.react-bootstrap-table .S {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: 0.5;
}

/* NAV BAR PRINCIPAL */

.nav-bar-principal {
  background-color: #342923;
  padding: 0rem 0rem;
}

.nav-bar-principal .global-title-2 {
  font-size: 1em;
}

.navbar {
  padding: 10px 0;
}

.icon-app {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.bread-crumb {
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-top: 0px;
}

.bread-crumb span {
  list-style: none;
  display: inline;
  color: #fff;
}

.text-primary {
  color: #FF7F32 !important;
}

.custom-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-left: 90px;
  padding-top: 2%;
}

.custom-modal-content {
  width: 100%;
  height: auto;
  z-index: 9999;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 600px;
  margin: 60px auto 0;
  background-color: #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}

.custom-modal-big .custom-modal-content {
  max-width: 1024px;
}

@media screen and (max-width: 992px) {
  .custom-modal-content {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .custom-modal-content {
    width: 95%;
  }
}

.custom-modal-header {
  background: #342923;
  padding: 17.5px 40px;
  z-index: 1020;
}

.custom-modal-header h6 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}

.custom-modal-header .btn-close {
  width: auto;
  height: auto;
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 0;
  margin: 0;
  transition: all 180ms;
  -o-transition: all 180ms;
  -webkit-transition: all 180ms;
  -moz-transition: all 180ms;
  padding: 0px 5px !important;
}

.custom-modal-header .btn-close:hover {
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  background-color: rgba(256, 256, 256, 0.3);
}

.custom-modal-header .btn-close:hover i {
  color: rgba(256, 256, 256, 0.6);
}

.custom-modal-header .btn-close i {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 0;
}

.custom-modal-body {
  padding: 30px 40px;
  flex: 1 1 0%;
  min-height: auto;
  overflow: auto;
}

.custom-modal-footer {
  border-top: solid 1px #ccc;
  background-color: #fdfdfd;
  padding: 15px 40px;
}

.custom-modal-icon-big {
  background-color: rgb(241, 241, 241);
  border: solid 1px #ccc;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1ABD5B;
  font-size: 40px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  margin-bottom: 30px;
}

.custom-modal-icon-big-no {
  background-color: rgb(241, 241, 241);
  border: solid 1px #ccc;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ca1533;
  font-size: 40px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  margin-bottom: 30px;
}

.nav-pill-custom {
  background-color: transparent;
}

.nav-pill-custom .nav-item .nav-link {
  color: #333;
  border-bottom: solid 2px transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}

.nav-pill-custom .nav-item.active .nav-link {
  border-bottom: solid 2px #FF7F32;
}

.list-group-custom {
  border: 0 !important;
}

.list-group-custom .list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: transparent;
  border: 0;
  color: #333;
}

.list-group-custom .list-group-item:nth-child(2n + 1) {
  background-color: #e8e8e8;
}

.divider2 {
  border-top: solid 1px rgb(224, 224, 224);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.fc-day-sat,
.fc-day-sun {
  background-color: rgb(240, 240, 240);
}

.fc .fc-daygrid-day-bg .fc-bg-event {
  opacity: 1;
  color: #fff;
}

.fc-event {
  cursor: pointer;
}

.box-dia {
  border: solid 1px #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.box-dia.sin-venta {
  background-color: #fff;
}

.box-dia.con-venta {
  background-color: #1ABD5B;
}

.box-dia.con-venta-0 {
  background-color: #f4a002;
}

/* Menu Seguridad */

.menu-seguridad {
  display: block;
  position: fixed;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.05);
  right: 0px;
  top: 0;
  padding: 20px;
  text-align: left;
  overflow-x: auto;
  z-index: 9999;
  animation: fadeInRight 280ms;
}

.menu-seguridad .header h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.menu-seguridad h3 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.menu-seguridad .close {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.menu-seguridad .divider {
  height: 1px;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu-seguridad .primary-menu {
  margin: 0;
  padding: 0;
  text-align: left;
}

.menu-seguridad .primary-menu .primary-menu-li {
  list-style: none;
  display: block;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 280ms;
  -o-transition: all 280ms;
  -moz-transition: all 280ms;
  -webkit-transition: all 280ms;
  padding: 5px 20px;
}

.menu-seguridad-li span i {
  margin-right: 10px;
}

.menu-seguridad .primary-menu .primary-menu-li > a {
  color: rgba(0, 0, 0, 0.5);
}

.menu-seguridad .primary-menu .primary-menu-li.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-seguridad .primary-menu .primary-menu-li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu-seguridad .primary-menu .primary-menu-li:hover > a {
  text-decoration: none;
}

.menu-seguridad .primary-menu .primary-menu-li .icons {
  font-size: 15px;
  display: none;
  position: absolute;
  right: 0;
}

.menu-seguridad .primary-menu .primary-menu-li .icons i {
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-seguridad .primary-menu .primary-menu-li:hover .icons {
  display: inline;
}

.menu-seguridad .primary-menu .primary-menu-li:hover i {
  display: inline;
}

.menu-seguridad .primary-menu .primary-menu-li:hover i.fi-rs-star:hover {
  color: #f4a002;
}

.menu-seguridad
  .primary-menu
  .primary-menu-li:hover
  i.fa-question-circle:hover {
  color: #666;
}

.menu-seguridad .primary-menu .primary-menu-li.favorite i {
  font-size: 15px;
  display: inline;
  color: #666;
}

.menu-seguridad .primary-menu .primary-menu-li .premium {
  font-size: 13px;
  padding: 0px 8px;
  background-color: #f4a002;
  color: #fff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  height: 18px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-seguridad .primary-menu .primary-menu-li .premium i {
  display: inline-block;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.menu-seguridad .primary-menu .primary-menu-li .new {
  font-size: 13px;
  padding: 0px 8px;
  background-color: #1ABD5B;
  color: #fff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  height: 18px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-seguridad .primary-menu .primary-menu-li:hover .new {
  display: none;
}

/* Begin Maps */

#sidebar-wrapper {
  min-height: 90vh;
  margin-left: -40rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.definitions-wrapper {
  /* height: 80%; */
  width: 100%;
  overflow: hidden;
}

.definitions-wrapper .left-wrapper {
  display: block;
  position: fixed;
  height: 90%;
  width: 40rem;
  padding: 2rem;
  overflow: scroll;
}

.structures-content {
  height: 45%;
  overflow: hidden;
}

.structures-list {
  height: 80%;
  overflow: scroll;
}

.definitions-content {
  height: 45%;
  overflow: scroll;
}

.definitions-list {
  height: 80%;
  width: 100%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -40rem;
  }
}

.btn-round {
  background-color: #FF7F32;
  width: 40px !important;
  height: 40px !important;
  border: 0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  color: #342923;
  margin-right: 15px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-round:hover,
.btn-round:focus {
  background-color: #FF7F32;
  outline: none;
}

.btn-round-secondary {
  background-color: #A59D98;
}

.btn-round i{
  font-size: 20px;
  line-height: 20px;
  height: 20px;
}

.rct-node-clickable {
  width: 100%;
  display: block;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 280ms;
  -o-transition: all 280ms;
  -moz-transition: all 280ms;
  -webkit-transition: all 280ms;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
}

.rct-node-clickable:hover,
.rct-node-clickable:focus {
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
}

.react-checkbox-tree .rct-bare-label {
  cursor: default;
  display: block;
  width: 100%;
}

.rct-checkbox {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 280ms;
  -o-transition: all 280ms;
  -moz-transition: all 280ms;
  -webkit-transition: all 280ms;
}

.rct-checkbox:hover,
.rct-checkbox:focus {
  background: rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

.rct-collapse.rct-collapse-btn {
  cursor: pointer;
  background-color: #f8f8f8;
  text-align: center;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
}

.definitions-wrapper .right-wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navbar-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-stage {
  outline: none;
  overflow: scroll;
}

.konvajs-content {
  margin: auto;
}

.diagram-component {
  width: 100%;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px black;
  background-color: white;
}

/* End Maps */

/* Floating Button */

.button-group-float {
  position: absolute;
  width: 100%;
  left: -2%;
  bottom: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

.button-group-float-polygon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group-float-polygon .button {
  width: 60px;
  height: 60px;
  margin: 10px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.button-group-float-polygon i {
  color: #fff;
  font-size: 20px;
}

.button-group-float-polygon .polygon-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group-float-polygon .polygon-actions .drag {
  background-color: #000fff;
}

.button-group-float-polygon .polygon-actions .drag:hover {
  background-color: #000aaa;
}

.button-group-float-polygon .polygon-actions .edit {
  background-color: #0099ff;
}

.button-group-float-polygon .polygon-actions .edit:hover {
  background-color: #0066ff;
}

.button-group-float-polygon .polygon-actions .delete {
  background-color: #CA1533;
}

.button-group-float-polygon .polygon-actions .delete:hover {
  background-color: #aa0000;
}

.button-group-float-polygon .polygon-draw-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-group-float-polygon .polygon-draw-actions .draw {
  background-color: #FF7F32;
}

.button-group-float-polygon .polygon-draw-actions .draw i {
  color: #342923;
}

.button-group-float-polygon .polygon-draw-actions .draw.active {
  background-color: #E86517;
}

.button-group-float-polygon .polygon-draw-actions .draw:hover {
  cursor: pointer;
  background-color: #E86517;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions .button {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions .submit {
  background-color: #00aa00;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions .submit:hover {
  background-color: #009900;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions .disabled {
  background-color: #777777;
}

.button-group-float-polygon
  .polygon-draw-actions
  .draw-actions
  .disabled:hover {
  background-color: #666666;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions .cancel {
  background-color: #CA1533;
}

.button-group-float-polygon .polygon-draw-actions .draw-actions .cancel:hover {
  background-color: #680313;
}

.button-group-float-zoom {
  z-index: 9999;
}

.button-group-float-zoom .btn-zoom {
  background-color: #ccc;
  border: 0;
  color: #666;
  width: 40px;
  height: 40px;
  text-emphasis: center;
  display: block;
  margin-bottom: 10px;
  outline: 0;
  font-size: 20px;
  font-weight: 100;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.owl-carousel {
  overflow: visible;
  z-index: 78;
}

/* .filtros {
  z-index: 77;
} */

.filters {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.filters .filter {
  width: 48%;
  margin: 1%;
}

.checkbok-heigth {
  max-height: 230px;
  overflow-y: auto;
  overflow-x: hidden;
}

.generic-u {
  margin: 0;
  padding: 0;
  text-align: left;
}

.generic-u .navigation-li {
  width: 90%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.generic-u .navigation-li .icons {
  font-size: 15px;
  display: none;
  position: absolute;
  right: 0;
}

.generic-u .navigation-li .icons i {
  color: #666;
}

.generic-u .navigation-li:hover .icons {
  display: inline;
}

.generic-u .navigation-li:hover i {
  display: inline;
}

.generic-u .navigation-li:hover i.historicals:hover {
  cursor: pointer;
  color: #FF7F32;
}

.generic-u .navigation-li:hover i.edit:hover {
  cursor: pointer;
  color: #FF7F32;
}

.generic-u .navigation-li:hover i.clone:hover {
  cursor: pointer;
  color: #FF7F32;
}

.generic-u .navigation-li:hover i.delete:hover {
  cursor: pointer;
  color: #CA1533;
}

.navbar-menu-selectors {
  display: flex;
}

.navbar-menu-selectors .selector {
  width: 250px;
  margin: 0 20px;
}

.wj-tabpanel > div > .wj-tabheaders > .wj-tabheader.wj-state-active {
  color: #FF7F32;
}

.wj-tabpanel > div > .wj-tabheaders > .wj-tabheader:after {
  background: #FF7F32;
}

.legends-colors {
  width: 50px;
  height: 20px;
}

.legends-rectangle-colors {
  width: 100%;
  height: 100%;
}

/* Reports */

.wj-pivotpanel {
  border: none;
}

.wj-pivotpanel .root {
  width: 100%;
}

.wj-pivotpanel .wrapper {
  display: flex;
  width: 100%;
}

.wj-pivotpanel .left-side {
  display: block;
  width: 50%;
}

.wj-pivotpanel .field-list-label {
  margin: 20px 0px;
}

.wj-pivotpanel .field-list div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wj-pivotpanel .field-list .wj-row {
  margin: 5px;
}

.wj-pivotpanel .right-side {
  display: block;
  width: 50%;
}

.wj-pivotpanel .drag-areas-label {
  margin: 20px 0px;
}

.wj-pivotpanel .sections {
  display: flex;
  flex-wrap: wrap;
}

.wj-pivotpanel .section {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid grey;
}

.wj-pivotpanel .section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wj-pivotpanel .control-area {
  display: none;
  justify-content: space-evenly;
}

/* Flexi Grid */

.wj-flexgrid {
  max-height: 650px;
  width: auto;
  max-width: 100%;
  height: fit-content;
}

.wj-flexgrid .wj-cell {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 13px;
  border-width: 0.1;
}

.wj-flexgrid .wj-detail {
  padding: 4px 16px;
}

.wj-detail h3 {
  margin: 10px 0;
}

.wj-tabpanel .wj-tabheaders {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  margin-top: -30px;
  padding-top: 30px;
}

/* Absolute alert */

.absoluteAlert {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.absoluteAlertContent {
  position: relative;
  width: 500px;
}

.btn-acciones {
  border: solid 1px transparent;
  width: 35px;
  height: 35px;
  line-height: 34px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  transition: all 280ms;
  -o-transition: all 280ms;
  -moz-transition: all 280ms;
  -webkit-transition: all 280ms;
  display: flex !important;
  align-items: center;
  justify-content: center ;
}

.btn-acciones i{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-acciones:hover i{
  color: #FF7F32;
}
.btn-acciones.disabled:hover > i{
  color: #b8b8b8;
}
.btn-acciones.text-success:hover > i{
  color: #1ABD5B;
}
.btn-acciones.text-danger:hover > i{
  color: #CA1533;
}

.btn-acciones > div {
  z-index: 4;
}

.button-formatos {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 15px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 10px 10px;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.button-formatos img {
  height: 60px;
  margin-bottom: 10px;
}

.button-formatos:hover {
  background-color: #FF7F32;
  border: solid 1px #FF7F32;
  color: #1f1006;
}

.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

.fc-toolbar-title::first-letter {
  text-transform: uppercase;
}

.container-grilla .wj-flexgrid {
  height: 100vh;
}

.global-error {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.8);
}

.container-grilla .wj-flexgrid {
  height: 100vh;
  width: 100%;
}

.content-container > .container-grilla{
  margin-left: 90px;
  width: calc(100% - 90px);
}

.btn-search {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #FF7F32;
  color: #342923;
  height: 38px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  width: 45px;
  border: 0;
}

.wj-flexgrid.wj-state-focused .wj-cell.wj-state-selected {
  transition: all 100ms;
  border: solid 1px #FF7F32;
  background-color: #FF7F32;
}

/* de-emphasize selected cells when the grid doesn't contain the focus */

.wj-flexgrid:not(.wj-state-focused) .wj-state-selected,
.wj-flexgrid:not(.wj-state-focused) .wj-state-multi-selected {
  background-color: #FF7F32;
  color: #fff;
}

.wj-cells .wj-cell.wj-state-multi-selected {
  background-color: #FF7F32;
  color: #fff;
}

@media screen and (max-width: 350px){
  #sidebar-wrapper {
    min-height: 90vh;
    margin-left: 0rem;
    transition: margin 0.25s ease-out;
  }
  .definitions-wrapper .left-wrapper{
    display: block;
    position: static;
    height: 90%;
    width: 100%;
    padding: 1rem;
    overflow: scroll;
  }
}

@media screen and (min-width: 350px) and (max-width: 800px) {
  .menu-seguridad {
    width: 300px;
  }
  .btn-primary {
    color: #fff;
    background-color: #FF7F32;
    border-color: #FF7F32;
    min-width: 130px;
    display: block;
    width: 100%;
  }
  .right-content {
    width: 95%;
    left: 0;
  }
  .right-body {
    padding: 15px 15px;
    min-height: auto;
  }
  .react-bootstrap-table {
    min-width: 1200px;
  }
  .btn-secondary {
    display: block;
    width: 100%;
  }
  .filters .filter {
    width: 100%;
    margin: 0%;
  }
  .wj-flexgrid {
    max-height: 650px;
    width: auto;
    max-width: 1200px;
    height: -moz-fit-content;
    height: fit-content;
    width: 1200px;
  }
  .custom-modal {
    padding-left: 0px;
  }
  .filters {
    width: 100%;
    display: block;
  }
  #sidebar-wrapper {
    min-height: 90vh;
    margin-left: 0rem;
    transition: margin 0.25s ease-out;
  }
  .definitions-wrapper .left-wrapper {
    display: block;
    position: static;
    height: 90%;
    width: 100%;
    padding: 2rem;
    overflow: scroll;
  }
  section.login {
    height: 100vh;
  }
  .btn-round {
    background-color: #FF7F32;
    width: 40px !important;
    height: 40px !important;
    border: 0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    color: #fff;
    margin-right: 0px;
    outline: none;
  }
}

@media screen and (max-height: 1000px) {
  .custom-modal-content {
    height: 85vh;
  }
  .custom-modal {
    padding-top: 1%;
  }
}

@media screen and (max-width: 1160px) {
  .container {
    overflow-y: auto;
  }
}