body {
  position: relative;
}
section.login {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.box-login {
  width: 28.125em;
  background-color: #fffcfa;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 1.875em 3.125em 0.625em;
  overflow: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1f1006;
}

.box-login > .btn-primary{
  width: 100%;
}

.logoPrincipal {
  text-align: center;
  margin: 0;
}

.logoPrincipal > img {
  height: 10em;
}

.fader {
  position: absolute;
  height: 100%;
  width: 72%;
  left: 28%;
  top: 0;
  z-index: -99;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-login-logo {
  position: absolute;
  right: 30px;
  top: 30px;
}
@media screen and (max-width: 1200px) {
  .box-login {
    width: 40%;
  }
}
@media screen and (max-width: 920px) {
  .box-login {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  section.login {
    position: static;
  }
  .img-login-logo {
    display: none;
  }
  .box-login {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 420px;
    margin-bottom: 10%;
  }
  .fader {
    width: 100%;
    left: 0%;
  }
  body {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 500px) {
  .box-login {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    max-width: 100%;
    margin-bottom: 10%;
    padding: 2em;
  }
}

.btn-azure-login {
  color: #342923;
  border: 2px solid #342923;
  min-width: 130px;
  width: 100%;
  height: 2.5em;
  font-weight: 500;
  font-size: 1.063em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;
}

.btn-azure-login > i {
  font-size: 1.25em;
}

.btn-azure-login:hover {
  color: #fff;
  background-color: #342923;
  border: 2px solid #342923;
  min-width: 130px;
}

.alternativeLogin .btn-azure-login:focus {
  outline: 0;
  box-shadow: 1px 2px 6px 3px #34292340;
}

.password-contenedor {
  position: relative;
}

.password-contenedor i {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #342923;
}

.title {
  margin-bottom: 1.25em;
}

.error > p {
  font-weight: 500;
  margin-bottom: 1.875em;
}

.success > p {
  font-weight: 500;
}

.iconContainer {
  width: 120px;
  height: 120px;
  background-color: #ebe7e4;
  border: solid 1px #b6b2af;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875em;
}

.error > .iconContainer > i {
  font-size: 2.5em;
  font-weight: 900;
  color: #ca1533;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875em;
}

.success > .iconContainer > i {
  font-size: 2.5em;
  font-weight: 900;
  color: #1abd5b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875em;
}

.alternativeLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0.938em;
}

.btn-secondary > i {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login .btn-secondary{
  margin: 15px 0;
}

.box-login .btn-primary{
  width: 100%;
}
.wordBreak{
  word-break: break-word;
}