.right-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}
.right-content {
  /* width: 35%; */
  height: calc(100% - 62px);
  z-index: 9999;
  top: 62px;
  right: 0%;
  position: fixed;
  contain: content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  animation: slideRight 280ms ease-in;
}
.right-content-big {
  /* width: 80%; */
  height: 80%;
  z-index: 9999;
  top: 10%;
  left: 90px;
  margin: auto;
  contain: content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 280ms ease-in;
}
.right-content.big {
  /* width: 80%; */
  height: calc(100% - 62px);
  z-index: 9999;
  top: 62px;
  right: 0px;
  margin: auto;
  contain: content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 280ms ease-in;
}
.right-content.big .custom-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 97;
  padding-left: 0px;
  padding-top: 2%;
}
@media screen and (max-width: 992px) {
  .right-content {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .right-content {
    width: 95%;
  }
}
.right-header {
  background: #342923;
  padding: 17.5px 40px;
  height: 62px;
}
.right-header h6 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}
.right-header .btn-close {
  width: auto;
  height: auto;
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 0;
  margin: 0;
  transition: all 180ms;
  -o-transition: all 180ms;
  -webkit-transition: all 180ms;
  -moz-transition: all 180ms;
  padding: 0px 5px !important;
}
.right-header .btn-close:hover {
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  background-color: rgba(256, 256, 256, 0.3);
}
.right-header .btn-close:hover i {
  color: rgba(256, 256, 256, 0.6);
}
.right-header .btn-close i {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 0;
}
.right-body {
  padding: 0px 40px;
  flex: 1 1 0%;
  min-height: auto;
  overflow: auto;
}

.contenedor-formatos{
  display: flex;
  flex-wrap: wrap;
}

.right-footer {
  border-top: solid 1px #ccc;
  background-color: #fdfdfd;
  padding: 15px 40px;
  width: 100%;
}


.right-footer > .btn{
  width: 100%;
}

.right-icon-big {
  background-color: #ebe7e4;
  border: solid 1px #b6b2af;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1abd5b;
  font-size: 40px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  margin-bottom: 30px;
}
.right-icon-big-no {
  background-color: #ebe7e4;
  border: solid 1px #b6b2af;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ca1533;
  font-size: 40px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  margin-bottom: 30px;
}

.wj-labeled-input {
  position: relative;
  width: 100%;
  display: inline-block;
  max-width: 100%;
  margin: 0 !important;
  padding: 20px 0;
  color: #343a40;
}
.wj-inputdate-dropdown {
  text-transform: capitalize;
}

.select-input {
  position: relative;
  width: 100%;
  display: inline-block;
  max-width: 100%;
  padding: 10px 0;
  border: none;
  background: white;
}
.select-input:focus-visible {
  outline: none;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wordBreak{
  word-break: break-word;
}

@media screen and (max-width: 500px) {
  .w-25 {
    width: 100% !important;
  }
  .w-50 {
    width: 100% !important;
  }
  .w-75 {
    width: 100% !important;
  }
}

@media screen and (max-width: 1160px) {
  .right-header .row{
    display: flex;
    flex-direction: row;
  }
  .row > .titleContainer, 
  .row > .buttonContainer{
    width: auto !important;
  }
}