.box {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.line {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.btn-box {
  cursor: pointer;
}
